#about {
    height: 110vh;

    .name {
        margin: 40px 40px 0 40px;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
    }

    h3 {
        margin-top: 20px;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
    }

   img {
        width: 70%;
        height: 450px;
        border-radius: 20px;
        object-position: center;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: block;
    }

    .aboutP {
        width: 88%;
        text-align: left;
        font-size: 1.1em;
        line-height: 1.8em;
        margin: 32px;
    }
}

 .list {
        margin: 0 auto;
        width: 600px;
        display: flex;
        justify-content:  space-between;
        

        .skills {

            h2 {
                font-size: 1.5em;
                font-weight: bold;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.1em;
                font-weight: lighter;
                line-height: 1.5em;
                text-align: left;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        .list { display: $hidden; }
    }

    @media only screen and (min-width: 701px) {
        #about { height: 135vh; }
    }

    @media only screen and (min-width: 844px) {
        #about { height: 130vh; }
    }