#mainFooter {
    width: 100%;
    background-color: $blue;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px 0 0;

        li {
            margin: 0 10px;
            text-align: center;
            transition: .3s;
            &:hover{
              transform: scale(1.04);
            }

            i { color: #FF9100; font-size: 3em;}
        }
    }

    p {
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 0.85em;
        padding: 10px 0 30px;
    }
}

// media query will take some time
@media only screen and (min-width: 576px) and (max-width: 768px) {
    #mainFooter {

        ul {
            padding: 20px 0 0;

            li i { font-size: 2em;}
        }

        p {
            font-size: 0.65em;
            padding: 10px 0 20px;
        }
    }
}

// media query will take some time
@media only screen and (max-width: 575px) {
    #mainFooter {

        ul {
            padding: 15px 0 0;

            li i { font-size: 1.75em;}
        }

        p {
            font-size: 0.5em;
            padding: 10px 0 15px;
        }
    }
}
